<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit route</title>
</head>
<body>
    
    <h3 class="">Edit your chat: <%= chat._id %></h3>
    <p class="">this chat was sent from <%= chat.from %> to <%= chat.to %> </p>
    

<form method="POST" action="/<%= chat._id %>?_method=PUT" class="">
    <textarea  id="" cols="30" rows="5" name="msg" class=""><%= chat.msg %></textarea>
    <button class="">edit</button>
</form>

</body>
</html>